/.idea/
/vendor/
/coverage_html/
/var/
/no_coverage_html/
/unmocked_no_coverage_html/
/docker/certbot/etc/
/docker/certbot/var/
/docker/certbot/conf/live/
/mock_no_coverage_html/
/mocked_phpunit_html/
/.phpunit.result.cache
/.env.local
