<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
        backupGlobals="true"
        bootstrap="tests/bootstrap.php"
>
    <coverage
        processUncoveredFiles="true"
        ignoreDeprecatedCodeUnits="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="cov">
            <directory suffix="Test.php">tests/unit/cov</directory>
        </testsuite>
        <testsuite name="no_cov">
            <directory suffix="Test.php">tests/unit/no_cov</directory>
        </testsuite>
        <testsuite name="unmocked_no_cov">
            <directory suffix="Test.php">tests/unit/unmocked_no_cov</directory>
        </testsuite>
        <testsuite name="mocked_phpunit">
            <directory suffix="Test.php">tests/unit/mocked_phpunit</directory>
        </testsuite>
        <testsuite name="mocked_phpunit_no_asserts">
            <directory suffix="Test.php">tests/unit/mocked_phpunit_no_asserts</directory>
        </testsuite>
    </testsuites>
</phpunit>
